Makefile
obj*/
dst*/
src*/

compile_commands/

dist/

.dav1d-build32

.dav1d-build64

.dav1d-configure32

.dav1d-configure64

.dav1d-dist32

.dav1d-dist64

.dav1d-post-build32

.dav1d-post-build64

.dav1d-post-source

.dav1d-source

.dxvk-build32

.dxvk-build64

.dxvk-configure32

.dxvk-configure64

.dxvk-dist32

.dxvk-dist64

.dxvk-nvapi-build32

.dxvk-nvapi-build64

.dxvk-nvapi-configure32

.dxvk-nvapi-configure64

.dxvk-nvapi-dist32

.dxvk-nvapi-dist64

.dxvk-nvapi-post-build32

.dxvk-nvapi-post-build64

.dxvk-nvapi-post-source

.dxvk-nvapi-source

.dxvk-post-build32

.dxvk-post-build64

.dxvk-post-source

.dxvk-source

.ffmpeg-build32

.ffmpeg-build64

.ffmpeg-configure32

.ffmpeg-configure64

.ffmpeg-dist32

.ffmpeg-dist64

.ffmpeg-post-build32

.ffmpeg-post-build64

.ffmpeg-post-source

.ffmpeg-source

.gecko-dist32

.gecko-dist64

.glslang-build32

.glslang-build64

.glslang-configure32

.glslang-configure64

.glslang-dist32

.glslang-dist64

.glslang-post-build32

.glslang-post-build64

.glslang-post-source

.glslang-source

.graphene-build32

.graphene-build64

.graphene-configure32

.graphene-configure64

.graphene-dist32

.graphene-dist64

.graphene-post-build32

.graphene-post-build64

.graphene-post-source

.graphene-source

.gst_base-build32

.gst_base-build64

.gst_base-configure32

.gst_base-configure64

.gst_base-dist32

.gst_base-dist64

.gst_base-post-build32

.gst_base-post-build64

.gst_base-post-source

.gst_base-source

.gst_good-build32

.gst_good-build64

.gst_good-configure32

.gst_good-configure64

.gst_good-dist32

.gst_good-dist64

.gst_good-post-build32

.gst_good-post-build64

.gst_good-post-source

.gst_good-source

.gst_libav-build32

.gst_libav-build64

.gst_libav-configure32

.gst_libav-configure64

.gst_libav-dist32

.gst_libav-dist64

.gst_libav-post-build32

.gst_libav-post-build64

.gst_libav-post-source

.gst_libav-source

.gst_orc-build32

.gst_orc-build64

.gst_orc-configure32

.gst_orc-configure64

.gst_orc-dist32

.gst_orc-dist64

.gst_orc-post-build32

.gst_orc-post-build64

.gst_orc-post-source

.gst_orc-source

.gst_plugins_rs-build32

.gst_plugins_rs-build64

.gst_plugins_rs-configure32

.gst_plugins_rs-configure64

.gst_plugins_rs-dist32

.gst_plugins_rs-dist64

.gst_plugins_rs-post-build32

.gst_plugins_rs-post-build64

.gst_plugins_rs-post-source

.gst_plugins_rs-source

.gstreamer-build32

.gstreamer-build64

.gstreamer-configure32

.gstreamer-configure64

.gstreamer-dist32

.gstreamer-dist64

.gstreamer-post-build32

.gstreamer-post-build64

.gstreamer-post-source

.gstreamer-source

.lsteamclient-build32

.lsteamclient-build64

.lsteamclient-configure32

.lsteamclient-configure64

.lsteamclient-dist32

.lsteamclient-dist64

.lsteamclient-post-build32

.lsteamclient-post-build64

.lsteamclient-post-source

.lsteamclient-source

.openxr-build64

.openxr-configure64

.openxr-dist64

.openxr-post-build64

.openxr-post-source

.openxr-source

.spirv-headers-build32

.spirv-headers-build64

.spirv-headers-configure32

.spirv-headers-configure64

.spirv-headers-dist32

.spirv-headers-dist64

.spirv-headers-post-build32

.spirv-headers-post-build64

.spirv-headers-post-source

.spirv-headers-source

.steamexe-build32

.steamexe-build64

.steamexe-configure32

.steamexe-configure64

.steamexe-dist32

.steamexe-dist64

.steamexe-post-build32

.steamexe-post-build64

.steamexe-post-source

.steamexe-source

.symstore-build64

.symstore-dist64

.symstore-post-build64

.symstore-post-source

.symstore-source

.vkd3d-build32

.vkd3d-build64

.vkd3d-configure32

.vkd3d-configure64

.vkd3d-dist32

.vkd3d-dist64

.vkd3d-post-build32

.vkd3d-post-build64

.vkd3d-post-source

.vkd3d-proton-build32

.vkd3d-proton-build64

.vkd3d-proton-configure32

.vkd3d-proton-configure64

.vkd3d-proton-dist32

.vkd3d-proton-dist64

.vkd3d-proton-post-build32

.vkd3d-proton-post-build64

.vkd3d-proton-post-source

.vkd3d-proton-source

.vkd3d-source

.vrclient-build32

.vrclient-build64

.vrclient-configure32

.vrclient-configure64

.vrclient-dist32

.vrclient-dist64

.vrclient-post-build32

.vrclient-post-build64

.vrclient-post-source

.vrclient-source

.vulkan-headers-build32

.vulkan-headers-build64

.vulkan-headers-configure32

.vulkan-headers-configure64

.vulkan-headers-dist32

.vulkan-headers-dist64

.vulkan-headers-post-build32

.vulkan-headers-post-build64

.vulkan-headers-post-source

.vulkan-headers-source

.vulkan-loader-build32

.vulkan-loader-build64

.vulkan-loader-configure32

.vulkan-loader-configure64

.vulkan-loader-dist32

.vulkan-loader-dist64

.vulkan-loader-post-build32

.vulkan-loader-post-build64

.vulkan-loader-post-source

.vulkan-loader-source

.wine-build32

.wine-build64

.wine-configure32

.wine-configure64

.wine-dist32

.wine-dist64

.wine-mono-dist

.wine-post-build32

.wine-post-build64

.wine-post-source

.wine-source

.wineopenxr-build64

.wineopenxr-configure64

.wineopenxr-dist64

.wineopenxr-post-build64

.wineopenxr-post-source

.wineopenxr-source

.xalia-dist
