Source: proton
Section: unknown
Priority: optional
Maintainer: elysia <c.elysia@foxmail.com>
Build-Depends:
 debhelper-compat (= 13),
 docker-ce | docker.io,
 clang [arm64],
 gcc-mingw-w64-i686 [i386],
 gcc-mingw-w64-x86-64 [amd64],
 libz-mingw-w64-dev,
 libc6,
 libsdl2-2.0-0,
 libstb0,
 lzma,
 flex,
 bison,
 quilt,
 unzip,
 gettext,
 icoutils,
 sharutils,
 pkg-config,
 dctrl-tools,
 imagemagick,
 librsvg2-bin,
 fontforge-nox,
 khronos-api (>= 4.6),
 unicode-data,
 libxi-dev,
 libxt-dev,
 libxmu-dev,
 libx11-dev,
 libxext-dev,
 libxfixes-dev,
 libxrandr-dev,
 libxcursor-dev,
 libxrender-dev,
 libxkbfile-dev,
 libxxf86vm-dev,
 libxxf86dga-dev,
 libxinerama-dev,
 libgl1-mesa-dev,
 libglu1-mesa-dev,
 libxcomposite-dev,
 libxml-simple-perl,
 libxml-parser-perl,
 libjxr-dev,
 libpng-dev,
 libssl-dev,
 libv4l-dev,
 libsdl2-dev,
 libxml2-dev,
 libgsm1-dev,
 libjpeg-dev,
 libkrb5-dev,
 libtiff-dev,
 libudev-dev,
 libpulse-dev,
 liblcms2-dev,
 libldap2-dev,
 libxslt1-dev,
 unixodbc-dev,
 libcups2-dev,
 libvkd3d-dev,
 libcapi20-dev,
 libvulkan-dev,
 libopenal-dev,
 libdbus-1-dev,
 freeglut3-dev,
 libmpg123-dev,
 libunwind-dev,
 libasound2-dev,
 libgphoto2-dev,
 libosmesa6-dev,
 libpcap0.8-dev,
 libgnutls28-dev,
 libncurses5-dev | libncurses-dev,
 libgettextpo-dev,
 libfreetype-dev (>= 2.6.2),
 libfontconfig1-dev,
 ocl-icd-opencl-dev,
 libgstreamer-plugins-base1.0-dev,

Standards-Version: 4.5.1
Homepage: https://github.com/ValveSoftware/Proton
Vcs-Browser: https://github.com/ValveSoftware/Proton
Vcs-Git: https://github.com/ValveSoftware/Proton.git

Package: lingmo-proton
Architecture: any
Depends:
 ${misc:Depends},
Description: Compatibility tool for Steam Play based on Wine and additional components

